
html, body{
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

#wrap{ width:160px; height:900px; top:20px; position:relative; bottom:0px;
  }
#wrap ul{ margin:0px; padding:0px; text-align:center }

#wrap ul li div{ 
	height:25px;
	text-align:center;
	width:160px;
	margin-top:10px;
	position:relative;
	bottom:0px;
	padding-top:12px;
	padding-bottom:4px;
	background:#000;
	font: 11px Tahoma, Helvetica, Arial, Sans-Serif;
	opacity:0.8;
	color: #ccc;
	text-shadow: 0px 2px 3px #555;
}
img#cart
{ 
	bottom:0px;position:fixed; margin-left:30px; /* keep the bar on top  */
}

#wrap ul li { cursor:pointer;}

div#bottomBar {
  position: fixed;/* keep the bar on top  */
  bottom: 0px;
  z-index: 9999;
  background:url(rail.jpg) bottom center repeat-x;
  height: 130px;
}

div#bottomBar {
  width:600px;
}

#left_bar 
{
	top:120px; 
	left:600px;
	height:350px;
	width:250px;
	position:fixed;
	padding:10px;
	/*-moz-background-clip: padding;   
	-webkit-background-clip: padding;  
	background-clip: padding-box;      
	border: 10px solid #006699;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px; */
}
em{ font-style:normal; }
button {
	
	background:none repeat scroll 0 0 #AD7B05; color:#FFFFFF;
	border:medium none;
	font-family:"LubalGraphBdBTBold",Tahoma;
	font-size:1.1em;
	margin-right:-14px;
	padding:10px;
	cursor:pointer;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
}

.cart-total{ background:#E8E8E8}

.shopp,.cart-total{ 
	border:solid #ccc 1px; padding:8px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px; font-size:12px;
	background:url(remove.png) center right no-repeat 5px;
	border-radius: 8px; 
	font-family:"LubalGraphBdBTBold",Tahoma; 
	margin-bottom:3px;
	width:260px;
	}
	
div.shopp span{  float:left;}	
div.shopp div.label{ width:130px; float:left; }		
div.shopp div.shopp-price{ width:70px; float:left;}
.quantity{ float:left; margin-top:-3px; width:20px;}
img.remove{float:right;cursor:pointer;}
.cart-total b{width:130px;}







h2{text-shadow: 0px -1px 0px #374683;text-shadow: 0px 1px 0px #e5e5ee;
filter: dropshadow(color=#e5e5ee,offX=0,offY=1); 
font-family:"Courier New", Courier, monospace; margin:0px;}
a.tuts,span.tuts{
color:#ff0000; font-size:13px; float:left; margin-right:15px; margin-left:15px;
text-shadow: 0px -1px 0px #374683;text-shadow: 0px 1px 0px #e5e5ee;
filter: dropshadow(color=#e5e5ee,offX=0,offY=1);
margin-top:4px;
font-family:"Courier New", Courier, monospace;
}
.delicious {
	background:url("http://demos.99points.info/assets/delici.jpg") no-repeat scroll 10px bottom transparent;
	border-left:1px solid #DEDEDE;
	float:left;
	margin-top:3px;
	padding-left:30px;
	text-shadow: 0px -1px 0px #374683;text-shadow: 0px 1px 0px #e5e5ee;
	filter: dropshadow(color=#e5e5ee,offX=0,offY=1); 
	font-family:"Courier New", Courier, monospace;
}
.delicious a{font-size:13px;
	line-height:18px;}
.title{ background:#D2ECFB; padding-left:10px; padding:4px;}

.tweetThis {
	background:url("http://demos.99points.info/assets/twit.png") no-repeat scroll 8px top transparent;
	border-left:1px solid #DEDEDE;
	float:left;
	font-size:12px;
	margin-left:8px;
	text-shadow: 0px -1px 0px #374683;text-shadow: 0px 1px 0px #e5e5ee;
	filter: dropshadow(color=#e5e5ee,offX=0,offY=1); 
	font-family:"Courier New", Courier, monospace;
	line-height:18px;
	margin-top:3px;
	padding-left:30px;float:left;
}

.digg{
	text-shadow: 0px -1px 0px #374683;text-shadow: 0px 1px 0px #e5e5ee;
	filter: dropshadow(color=#e5e5ee,offX=0,offY=1); 
	font-family:"Courier New", Courier, monospace;
	padding:4px; color:#000000; font-size:12px;
	margin-top:2px; float:left
}
#bookmarks{	margin-top:3px; float:left}
#bookmarks a{
	text-shadow: 0px -1px 0px #374683;text-shadow: 0px 1px 0px #e5e5ee;
	filter: dropshadow(color=#e5e5ee,offX=0,offY=1); 
	font-family:"Courier New", Courier, monospace;
	color:#000000; font-size:14px; font-weight:bold;
	padding-left:20px; 
}